.gitignore
*.o
*.d
.DS_Store

/lua-5.1/src/liblua.a
/lua-5.1/src/lua
/lua-5.1/src/luac
/lua-5.1/src/lua*.exe
/lua-5.1/src/lua*.dll

src/sos.res

sos/stdout.txt
sos/stderr.txt
sos/sos-linux32
sos/sos-linux64
sos/sos.exe
sos/setup.lua
sos/config.lua
sos/script/debug.lua

